
.wrapper
	display: grid
	grid-template-columns: 100%
	grid-gap: 1em

.hero, .navbar, .section-1, .mid-panel, .section-2, .image-1, .image-2, .footer
	height: 300px
	width: 100%
	background-color: grey

